<!DOCTYBE html>
<html>
<head>

    <link rel="stylesheet" href="./css/style.css">
    <script scr="/js/app.js"> </script>

</head>
<link rel="stylesheet" href="./css/style.css">
<body>

{{> header }}


</body>

<footer>
    {{>footer}}
</footer>

</html>